* {
  box-sizing: border-box;
}
h1{
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}
body{
  color:white;
  background-color:#111111;
}
p{
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  text-align:center;
  font-size:45px;
}

#openingTitle{
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size:50px;
  text-align:center;
}
#openingTitle{

}

#submitButton{
  margin-top:40px;
}

.question{
  margin-top:15px;
  margin-bottom:15px;
}

#quizForm{
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size:40px;
  text-align:center;
}

#nextQuestion{
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size:40px;
  text-align:center;
}

#startImage{
  display: block;
  text-align: center;
  max-width: 100%;
  height: auto;
}

button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, silver)
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid silver;
  color: #171717;
  font-weight: 600;
  font-family: 'Josefin Slab', serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 19px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #C8C8C8;
  border-bottom: 20px solid #C8C8C8;
  border-left: 16px solid transparent;
  border-right: 20px solid #C8C8C8;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

/* Button pointing left */

button.back {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}
button.back:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #C8C8C8;
  border-bottom: 20px solid #C8C8C8;
  border-right: 16px solid transparent;
  border-left: 20px solid #C8C8C8;
  position: absolute;
  opacity: 0.6; 
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;    
}

button.site {
  width: 40px;
  text-align: center;
  text-indent: 0;
}
button.site:after{
  display: none;
}

.holder {
  width: 300px;
  background: #efefef;
  padding: 30px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;  
  text-align: center;
}

@media only screen and (min-width: 300px) {
	  display: inline-block;
		font-size: 1.8em;
		margin: 0 .6em .6em;
	}

@media only screen and (min-width: 600px) {
	  display: block;
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1000px) {
    width: 550px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}